.input {
  height: 80px;
  width: 100%;
  padding: 16px 48px;
  box-sizing: border-box;

  font-size: 2rem;
  font-weight: 900;
  color: white;

  border: 1px solid #282828;
  background-color: #282828;
  transition: 0.3s;
  outline: none;
}
