html,
body {
  min-width: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  background: #fff;
}

html {
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

body {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
